*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #DFA7F7;
	font-family: 'La Belle Aurore', cursive;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3rem;
	line-height: 1.5em;
	margin: 0;

}

.container{
	width: 85%;
	max-width: 850px;
	margin: 0 auto;
	background: #F3D2F7 ;
}

.header{
	background: #EB86F7 ;
	color: white;
	padding: 1rem 0;

}

.header a{/*a=vinculo*/
	color: blue;
	text-decoration: none;

}

.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	letter-spacing: 5px;
	font-size: 1.6em;
}
.navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation ul li{
	display: inline-block;

}
.navigation ul li a{
	display: block;
	padding: 0.5rem 0.7rem;
	border-radius: 5px;
	transition: all 0.6s linear;
}
.navigation ul li a:hover{
	background: #9E19AD ;
	color: #A7D7F5 ;
} 
